html {
  height: 100%;
}

body {
  font-family: 'Fira Code', monospace;
  font-weight: 900;
  letter-spacing: 0.001mm;
  margin: 0;
  min-height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  background-image: url("paper.jpg");
  background-size: auto;
}

.box > div {
  font-size: 70%;
  font-weight: 100;
  opacity: 0.5;
  padding: 0;
  margin: 0;
}

.box {
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.container {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto auto;
  grid-template-rows: auto auto auto auto;
}

